#topbar {
	display:flex;
	height:6em;
	align-items: center;
	position: fixed;
	top: 0px; left: 0px;
	width: 100%;
	z-index: 10;
}

#topbar .topbarContainer {
	margin-left: auto;
	margin-right: auto;
	display:flex;
	justify-content: space-between;
}

#topbar .logo, .search, .menuButton {
	display:flex;
	flex:2;
	align-items: center;
}

#topbar .search {
	flex:5;
}

#topbar .menuButton {
	flex:2;
	text-align: right;
	justify-content: flex-end;
}

#topbar .search .input {
	width:100%;
}

#sideMenu {
	top:84px !important;
	z-index:9 !important;
}

.christmas {
	background: #8C0E0E url('../img/Christmas.png') no-repeat center center !important;
	background-size: cover !important;
}

.wrapper {
	padding-top: 6em;
}

@media only screen and (min-width: 1200px) { #topbar .topbarContainer {width:1127px;} }
@media only screen and (min-width: 992px) and (max-width: 1199px) { #topbar .topbarContainer {width:933px;} }
@media only screen and (min-width: 768px) and (max-width: 991px) { #topbar .topbarContainer {width:723px;} }
@media only screen and (max-width: 767px) { #topbar .topbarContainer {width:90%;} }

@media only screen and (max-width: 1000px) {
	#topbar { height:5em; }
	#topbar .search { flex:4 }
	.wrapper { padding-top:5em; }
	#sideMenu { top: 70px !important; }
}
